@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.card {
  border-radius: 15px;
}

.label-wrapper {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  font-weight: semi-bold;
}

.question-icon {
  font-size: 18px;
  margin-left: 5px;
  margin-bottom: -3px;
}

.question-icon {
  cursor: pointer;
}

.info-icon {
  position: absolute;
  top: 70%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #6c757d;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
